<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/estilos.css?v=1.0}">


    <title>Jugala!</title>
</head>
<body>
	<div class="principal">
		<div class="index">
			<h1>Jugala!</h1>
				<il><a th:href="@{/registrarUsuario}">Registrarse</a></il>
				<p>
				<il><a th:href="@{/main}">Logearse</a></il>
				<p>
				<il><a th:href="@{/main}">Publicaciones</a></il>
				<il><a th:href="@{/chats}">Chat General</a></il>
		</div>
	</div>
</body>
</html>
